
body {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div {
}

img.logo {
  width: 25%;
  float: left;
  padding-top: 10px;
  padding-left: 20px;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  color: #000000;
  background-color: #FFFFFF;
}

/* Control the right side */
.right {
  right: 0;
  color: #FFFFFF;
  background-color: #830021;
}

/* Content centered horizontally and control the vertical position */
.centered {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.result {
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.cicles {
  font-family: Arial, Verdana, Helvetica, Tahoma, sans-serif;
  font-size: 40px;
  font-style: bold;
  color: #FFFFFF;
  text-align: right;
  padding-right: 20px;
}

/* Control the file selection button */
input[type=file].left {
    border: 1px solid #BFBFBF;
    color: #fff;
    background: #830021;
    padding: 10px 20px;
    border-radius: 3px;
}
input[type=file].right {
    border: 1px solid #BFBFBF;
    color: #000000;
    background: #FFFFFF;
    padding: 10px 20px;
    border-radius: 3px;
}
input[type=file]:hover {
    background: #830021;
}

/* Control the submit button */
input[type=submit] {
    border: 1px solid #BFBFBF;
    color: #000000;
    background: #E7E7E7;
    padding: 10px 20px;
    border-radius: 3px;
}

input[type=submit]:hover {
	color: #FFFFFF;
    background: #808080;
}
